body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

strong {
  font-family: 'Open Sans', sans-serif;
}

svg text {
  font-family: sans-serif;
  font-size: 11px;
  pointer-events: none;
}
