body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
}

select, option {
  font-family: 'Libre Baskerville', serif;
}

select {
  font-size: 32px;
  margin-left: 12px;
}

svg {
  border: 1px solid #666;
  margin: 5px;
  vertical-align: top;
}

svg text {
  font-family: sans-serif;
  font-size: 10px;
}
